<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{% block title %}Default title{% endblock title %}</title>
    <link rel="stylesheet" href="/static/css/views_style.css">
    {% block style %}{% endblock %}
</head>
<body>
    <h1>
        {% block header %}{% endblock header %}
    </h1>

    <div class="content">
        {% block content%}{% endblock content %}
    </div>

    <div class="author">
        <storng class="txt-f-Goldman">Algoforces</storng>. 2023-2024. All rights reserved.
    </div>
</body>
</html>