<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>File Upload</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
{% if compiler_reports %}
    <table>
        <tr>
            <td>ID</td>
            <td>File name</td>
            <td>Link</td>
        </tr>
        {% for report in compiler_reports %}
        <tr>
            <td>{{report.id}}</td>
            <td>{{report.compiled_file}}</td>
            <td><a href="http://localhost:8000/app/compiler-report/{{report.id}}/">go there</a></td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <p><b>No CompilerReports found</b></p>
{% endif %}
</body>
</html>