<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post Game</title>
    <link rel="stylesheet" href="../../static/css/style.css">
</head>
<body>
{% if response %}
    <p>{{ response }}</p>
{% elif feedback %}
    <p>{{ ideal_solution_report }}</p>
    <p>{{ play_report }}</p>
    <table>
        <tr>
            <td>Make a battle</td>
            <td><a href="http://localhost:8000/app/post-ideal-solution/new/{{feedback.id}}/">click here</a></td>
        </tr>
    </table>
{% elif ideal_solution_report %}
    <p>{{ ideal_solution_report }}</p>
    <p>{{ play_report }}</p>
{% else %}
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table class="table1">
            <tr>
                <td><p>Name:</p></td>
                <td><input type="text" name="name"></td>
            </tr>
            <tr>
                <td><p>Number of players:</p></td>
                <td><input type="text" name="number_of_players"></td>
            </tr>
            <tr>
                <td><p>Ideal solution:</p></td>
                <td><input type="file" name="ideal_solution"></td>
            </tr>
            <tr>
                <td><p>Play:</p></td>
                <td><input type="file" name="play"></td>
            </tr>
        </table>
        <input type="submit" value="Сохранить">
    </form>
{% endif %}
</body>
</html>