<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Battle Details</title>
    <link rel="stylesheet" href="../../static/css/style.css">
</head>
<body>
{% if report %}
    <p>report should be here</p>
{% else %}
    <table class="table1">
        <tr>
            <td>Name:</td>
            <td>{{game.name}}</td>
        </tr>
        <tr>
            <td>Play:</td>
            <td>{{game.play}}</td>
        </tr>
        <tr>
            <td>Ideal solution:</td>
            <td>{{game.ideal_solution}}</td>
        </tr>
        <tr>
            <td>Number of players:</td>
            <td>{{game.number_of_players}}</td>
        </tr>
    </table>
    <form action="" method="POST">
        {% csrf_token %}
        <input type="submit" value="start battle"/>
    </form>
{% endif %}
</body>
</html>