{% extends "base.html" %}
{% block title %}
    Sandbox
{% endblock title %}

{% block header %}
    Sandbox
{% endblock header %}

{% block content %}
{% if failed_report %}
    <form>
    <table class="form-with-td">
        <tr>
            <td><p>compiled file</p></td>
            <td><p>{{ failed_report.compiled_file }}</p></td>
        </tr>
        <tr>
            <td><p>time</p></td>
            <td><p>{{ failed_report.time }}</p></td>
        </tr>
        <tr>
            <td><p>datetime_created</p></td>
            <td><p>{{ failed_report.datetime_created }}</p></td>
        </tr>
        <tr>
            <td><p>status</p></td>
            <td><p>{{ failed_report.status }}</p></td>
        </tr>
        <tr>
            <td><p>error</p></td>
            <td><p>{{ failed_report.error }}</p></td>
        </tr>
        <tr>
            <td><p>invoker_report</p></td>
            <td><p>{{ failed_report.invoker_report }}</p></td>
        </tr>
    </table>
    </form>
{% elif report %}
    <form class="form-with-td">
    <table class="form-with-td">
        <tr>
            <td><p>command</p></td>
            <td><p>{{ report.command }}</p></td>
        </tr>
    </table>
    </form>
{% else %}
    <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="strategy">
        <label>
            <select name="language">
                <option selected="selected">---- SELECT ----</option>
                <option>c++</option>
                <option>c#</option>
                <option>c</option>
                <option>javascript</option>
                <option>java</option>
                <option>python</option>
            </select>
        </label>
        <input type="submit">
    </form>
{% endif %}
{% endblock content %}