{% extends 'base.html' %}

{% block title %}
    Sandbox
{% endblock title %}

{% block header %}
    Games
{% endblock header %}

{% block content %}
    <h2>Available games</h2>
    {% if available_games|length == 0 %}
        No games are available yet
    {% else %}
        <table>
            <thead>
                <th>Name</th>
                <th>Rules</th>
                <th>Link to sandbox</th>
            </thead>
            <tbody>
        {% for game in available_games %}
            <tr>
            <td> {{ game.name }} </td>
            <td> <li><a href='/media/{{ game.rules }}'>rules</a></li> </td>
            <td> <li><a href='/app/sandbox/{{ game.id }}'>сдать стратегию</a></li> </td>
            </tr>
        {% endfor %}
            </tbody>
        </table>
    {% endif %}

{% endblock %}
