{% extends "base.html" %}
{% block style %}
    <link rel="stylesheet" href="../../static/css/sandbox.css">
{% endblock %}

{% block title %}
    Sandbox
{% endblock title %}

{% block header %}
    Sandbox for {{ game.name }}
{% endblock header %}

{% block content %}

    {% if status == 'receive compiler report' %}
        <script>
            wait();
            document.getElementById('loader-content').style.display = 'none';

            function wait() {
                console.log(1);
                {% if compiler_report == None %}
                    setTimeout(function () {
                        location.reload();
                    }, 1000)                {% else %}
                    return 1;
                {% endif %}
            }
        </script>

        <table style="margin-bottom: 50px;" class="form-with-td">
            <tr>
                <td>Report</td>
                <td>{{ report }}</td>
            </tr>
        </table>
        {% if report.status == OK %}
            <form id="sandbox-form" method="POST" action="{{ report }}" enctype="multipart/form-data">
                {% csrf_token %}
                <input style="display: none;" type="text" name="type" value="sandbox">
                <input style="display: none;" name="compiler_report_id" value="{{ compiler_report.id }}">
                <input type="submit" value="Запустить sandbox">
            </form>
        {% endif %}
    {% elif status == 'receive sandbox report' %}
        <script>
            wait();
            document.getElementById('loader-content').style.display = 'none';

            function wait() {
                console.log('reloading');
                {% if sandbox_report == None %}
                    setTimeout(function () {
                        location.reload();
                    }, 1000)
                {% else %}
                    return 1;
                {% endif %}
            }
        </script>

        <table class="form-with-td">
            <tr>
                <td>report</td>
                <td>{{ sandbox_report }}</td>
            </tr>
        </table>
    {% elif status == 'filling compilation form' %}
        <form id="compilation-form" method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <input style="display: none;" type="text" name="type" value="compiler">
            <input type="file" name="strategy">

            <p style="display: inline-block;">Choose language for your code: </p>
            <select style="display: inline-block;" name="language">
                <option selected="selected">---- SELECT ----</option>
                <option>c++</option>
                <option>c#</option>
                <option>c</option>
                <option>javascript</option>
                <option>java</option>
                <option>python</option>
            </select>

            <input value="запустить компиляцию файла" style="margin-bottom: 20px;" type="submit" onclick="loading()">
        </form>
    {% else %}
        <div class="error-container">
            <h1>STATUS ERROR</h1>
            <p>Either something in files was wrong or we have some problems in server.</p>
        </div>
    {% endif %}

    <div id="loader-content">
        <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
             x="0px" y="0px"
             width="40px" height="40px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;"
             xml:space="preserve">
        <path fill="#000"
              d="M25.251,6.461c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615V6.461z">
            <animateTransform attributeType="xml" attributeName="transform" type="rotate" from="0 25 25" to="360 25 25"
                              dur="0.6s" repeatCount="indefinite"></animateTransform>
        </path>
  </svg>
    </div>
    <script>
        function loading() {
            {#document.getElementById('compilation-form').style.display = 'none';#}
            document.getElementById('loader-content').style.display = 'block';
        }

        function getCookie(name) {
            const value = `; ${document.cookie}`;
            const parts = value.split(`; ${name}=`);
            if (parts.length === 2) return parts.pop().split(';').shift();
        }

        function send_request(items) {
            loading();

            let formData = new FormData(document.getElementById('sandbox-form'))
            console.log(document.getElementById('sandbox-form'))
            formData.append('report', report)
            formData.append('type', 'sandbox')
            console.log(formData)

            try {
                fetch('', {
                    method: 'POST',
                    headers: {
                        "X-CSRFToken": getCookie("csrftoken")
                    },
                    body: formData,
                })
            } catch (e) {
                console.log(e);
            }
        }
    </script>
{% endblock content %}