<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sandbox views</title>
</head>
<body>

{% if failed_report %}
    <form class="form1">
        <tr>
            <td><p>compiled file</p></td>
            <td><p>{{ failed_report.compiled_file }}</p></td>
        </tr>
        <tr>
            <td><p>time</p></td>
            <td><p>{{ failed_report.time }}</p></td>
        </tr>
        <tr>
            <td><p>datetime_created</p></td>
            <td><p>{{ failed_report.datetime_created }}</p></td>
        </tr>
        <tr>
            <td><p>status</p></td>
            <td><p>{{ failed_report.status }}</p></td>
        </tr>
        <tr>
            <td><p>error</p></td>
            <td><p>{{ failed_report.error }}</p></td>
        </tr>
        <tr>
            <td><p>invoker_report</p></td>
            <td><p>{{ failed_report.invoker_report }}</p></td>
        </tr>
    </form>
{% elif report %}
    <form class="form1">
        <tr>
            <td><p>command</p></td>
            <td><p>{{ failed_report.command }}</p></td>
        </tr>
    </form>
{% else %}
    <form method="POST" action="">
    {% csrf_token %}
    <input type="file" name="strategy">
    <input type="submit">
    </form>
{% endif %}

</body>
</html>