{% extends "base.html" %}

{% block header %}
    register for tournament
{% endblock %}

{% block content %}
    {% if status == 'wait for strategy' %}
        <form method="POST" action=" ">
            {% csrf_token %}
            <input type="file" name="strategy">
            <input type="submit" value="upload strategy">
        </form>

    {%  elif status == 'not started' %}
        <p class="d-inline-block"> Sorry, the tournament has not started yet </p>
    {% else %}
        {% if status == 'strategy uploaded' %}
            <p class="d-inline-block"> You have successfully uploaded your strategy! </p>
        {% else %}
            <p class="d-inline-block"> Sorry, the tournament is already finished </p>
        {% endif %}
    {% endif %}

{% endblock %}

