{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>

{% block header %}
    Welcome! We are happy to see you here!
{% endblock %}

</head>
<body>

{% block content %}
    {% if status == 'show' %}
        <a href='/accounts/login/'>зарегистрироваться или войти</a><br>
        <a href='../app/tournament/create/'>создать турнир</a><br>
        <a href='../app/tournaments'>участвовать в турнире</a><br>
        <a href='../sandbox/'>практиковаться</a><br>
    {% else %}
        <p class="d-inline-block">Sorry, something went wrong(((</p>
    {% endif %}

{% endblock %}

</body>
</html>

