{% extends 'base.html' %}

{% block title %}
    Tournaments
{% endblock title %}

{% block header %}
    Tournaments
{% endblock header %}

{% block content %}
    <h2>Upcoming or current tournaments</h2>
    {% if upcoming_or_current_tournaments|length == 0 %}
        No future tournaments are planned yet
    {% else %}
        <table>
            <thead>
                <th>Name</th>
                <th>Game</th>
                <th>Start time</th>
                <th>End time</th>
                <th>Duration</th>
                <th>Before the start</th>
                <th>Already registered</th>
            </thead>
            <tbody>
        {% for tournament in upcoming_or_current_tournaments %}
            <tr>
            <td> <li><a href="tournament/{{ tournament.id }}">{{ tournament.name }}</a></li> </td>
            <td> <li><a href="game/{{ tournament.game.id }}">{{ tournament.game.name }}</a></li> </td>
            <td> {{ tournament.tournament_start_time }} </td>
            <td> {{ tournament.finish_registration_time }} </td>
            <td> {{ tournament.finish_registration_time|timeuntil:tournament.tournament_start_time }} </td>
            <td> {{ tournament.tournament_start_time|timeuntil }} </td>
            <td> {{ tournament.players.all|length }} / {{ tournament.max_of_players }}</td>
            </tr>
        {% endfor %}
            </tbody>
        </table>
    {% endif %}

    <h2>Past tournaments</h2>
    {% if past_tournaments|length == 0 %}
        No tournament has been held yet
    {% else %}
        <table>
            <thead><th>Name</th><th>Game</th><th>Start time</th><th>End time</th><th>Duration</th><th>Results</th></thead>
            <tbody>
        {% for tournament in past_tournaments %}
            <tr>
            <td> <li><a href="tournament/{{ tournament.id }}">{{ tournament.name }}</a></li> </td>
            <td> <li><a href="game/{{ tournament.game.id }}">{{ tournament.game.name }}</a></li> </td>
            <td> {{ tournament.tournament_start_time }} </td>
            <td> {{ tournament.finish_registration_time }} </td>
            <td> {{ tournament.finish_registration_time|timeuntil:tournament.tournament_start_time }} </td>
            <td> <li><a href="tournament/{{ tournament.id }}/results">Results</a></li> </td>
            </tr>
        {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}