<main class="main-container">
    <p class="font-size-xlarge" style="margin: 20px;" *ngIf="future_cards.length > 0">Текущие турниры</p>
    <div class="cards__container" *ngIf="future_cards.length > 0">
        <div *ngFor="let card of future_cards" class="card">
            <div class="flex-inline">
                <p>{{ card.id }}</p>
                <p class="font-size-medium" style="word-break: break-word">{{ card.name }}</p>
            </div>
            <button class="enter-btn" *ngIf="card.is_registered"
                    (click)="navigate('tournament/upload/'+card.id)">Войти в турнир
            </button>
            <button class="register-btn" *ngIf="!card.is_registered"
                    (click)="RegisterToTournament(card.id!)">Зарегистрироваться
            </button>
        </div>
    </div>
    <p class="font-size-xlarge" style="margin: 30px 0 20px;" *ngIf="past_cards.length > 0">Прошедшие турниры</p>
    <div class="cards__container" *ngIf="past_cards.length > 0">
        <div *ngFor="let card of past_cards" class="full-width">
            <div class="card">
                <div class="flex-inline">
                    <p>{{ card.id }}</p>
                    <p class="font-size-medium">{{ card.name }}</p>
                </div>
                <button style="text-wrap: nowrap" class="register-btn"
                        (click)="router.navigate(['tournament/'+card.id+'/results'])">Посмотреть результат
                </button>
            </div>
        </div>
    </div>
</main>