<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>File Upload</title>
</head>
<body>
{% if compiler_report %}
{% if compiler_report %}
<p>{% compiler_report.error %}</p>
{% else %}
<p>Compiled</p>
{% else %}
{% else %}
<p>Testing</p>
{% endif %}
<script>
    const apiUrl = 'http://127.0.0.1:8000/';

    fetch(apiUrl+"/")
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(response => {
            console.log(response);
        })
        .catch(error => {
            console.error('Error:', error);
        });
</script>
</body>
</html>