<main class="bottom-bar">
    <ul class="footer-menu">
        <li class="menu-item">
            <a href="">MEMES</a>
            <ul class="sub-menu">
                <li class="sub-menu-item"><a href="https://www.youtube.com/watch?v=mtv-LQTemMk" target="_blank">Chipi
                    Chapa</a></li>
                <li class="sub-menu-item"><a href="https://www.youtube.com/watch?v=9MCiixIkzUk" target="_blank">Toothless
                    Dance</a></li>
                <li class="sub-menu-item"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQk" target="_blank">Don't
                    click here</a></li>
            </ul>
        </li>
        <li class="menu-item">
            <a href="">GET STARTED</a>
            <ul class="sub-menu">
                <li class="sub-menu-item"><a href="https://forum.alkocode.com">Forum</a></li>
                <li class="sub-menu-item" (click)="go_link('team')"><a>Tutorial</a></li>
                <li class="sub-menu-item" (click)="go_link('tournaments')"><a>Contests</a></li>
                <li class="sub-menu-item" (click)="go_link('contact')"><a>Contact us</a></li>
            </ul>
        </li>
        <li class="menu-item">
            <a href="">ABOUT US</a>
            <ul class="sub-menu">
                <li class="sub-menu-item" (click)="go_link('team')"><a>Our Team</a></li>
                <li class="sub-menu-item" (click)="go_link('wiki')"><a>Wiki</a></li>
                <li class="sub-menu-item" (click)="go_link('blogs')"><a>Blogs</a></li>
                <li class="sub-menu-item" (click)="go_link('stats')"><a>Statistics</a></li>
            </ul>
        </li>
        <li class="menu-item">
            <a href="">GET STARTED</a>
            <ul class="sub-menu">
                <li class="sub-menu-item"><a href="https://forum.alkocode.com">Forum</a></li>
                <li class="sub-menu-item" (click)="go_link('team')"><a>Tutorial</a></li>
                <li class="sub-menu-item" (click)="go_link('tournaments')"><a>Contests</a></li>
                <li class="sub-menu-item" (click)="go_link('contact')"><a>Contact us</a></li>
            </ul>
        </li>
        <li class="menu-item">
            <a href="">GET STARTED</a>
            <ul class="sub-menu">
                <li class="sub-menu-item"><a href="https://forum.alkocode.com">Forum</a></li>
                <li class="sub-menu-item" (click)="go_link('team')"><a>Tutorial</a></li>
                <li class="sub-menu-item" (click)="go_link('tournaments')"><a>Contests</a></li>
                <li class="sub-menu-item" (click)="go_link('contact')"><a>Contact us</a></li>
            </ul>
        </li>
    </ul>
    <p class="menu-item-copyright">Copyright © 2024 Alkocode</p>
</main>
