.content {
  width: 100%;
  min-height: 100%;
  height: fit-content;
  overflow: hidden;

  position: relative;
}

.background {
  z-index: 0;
  opacity: .7;
  width: 100%;
  min-height: 100%;
  height: fit-content;
  padding: 10em 3em;

  position: absolute;

  svg {
    max-width: 650px;
    width: 90%;
  }
}
.vertical-line {
  writing-mode: vertical-rl;
  text-orientation: upright;

  position: absolute;
  top: 0;

  font-size: 1.3em;
  letter-spacing: 10px;

  color: var(--color-accent);
}


.block-content {
  z-index: 10;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
.block-content:nth-child(1) {
  padding: 5em 0 0;
  h1 {
    font-weight: 700;
    letter-spacing: 2px;
    font-size: max(1.5em, min(3em, 10vw));
    text-align: center;
    span { display: block; }
  }
  p {
    font-size:1em;
    color: #909090;
  }
}
