<main class="content">

  <div class="block-content">
    <h1>
      <span>Improve your coding</span>
      <span>skills with us.</span>
    </h1>
    <p>Platform for game coding competitions.</p>

    <div class="button start-button">
      <p>Start coding.</p>
    </div>
  </div>

  <div class="block-content">
    <h1>Learn new languages</h1>

    <div>

    </div>
  </div>

  <div class="block-content">
    <h1>Compete to others</h1>
  </div>

  <div class="block-content">
    <h1></h1>
  </div>

  <div class="background">
    <p class="vertical-line" style="left: 20em;"></p>
    <p class="vertical-line" style="left: 5em;"></p>
  </div>

</main>
