<main class="content">

  <div class="block-content block-appearance-animation">
    <h1>
      <span>Improve your coding</span>
      <span>skills with us.</span>
    </h1>
    <p class="after-header">Amazing platform for game coding competitions. Let's bring game coding to life again
      together.</p>

    <div class="w-full flex justify-center buttons-container">
      <div (click)="go('register')" class="button start-button">
        <p>Start coding</p>
      </div>
      <div class="button">
        <p (click)="go('wiki')">read docs</p>
      </div>
    </div>
  </div>

  <div class="block-content hidden">
    <h1>Learn new languages</h1>

    <div class="center-card" style="z-index: 10">
      <h2 style="color:#00ffd1; font-weight: 700; font-size: max(20px, min(40px, 5vw));">Here you can code in almost all
        popular languages</h2>
      <p style="color:#fff; max-width: max(80%, 800px)">At risus viverra adipiscing at. Cursus eget nunc scelerisque
        viverra mauris in aliquam sem. Magna sit amet purus gravida quis blandit turpis. Natoque penatibus et magnis
        dis. Ipsum a arcu cursus vitae congue mauris rhoncus aenean. Congue eu consequat ac felis donec et odio. Egestas
        erat imperdiet sed euismod nisi porta lorem mollis aliquam. Enim praesent elementum facilisis leo vel fringilla
        est. Dfeion deifio, fjdke foreu oklistics ateud.</p>
    </div>
  </div>

  <div class="block-content hidden">
    <div class="content">
      <div class="left">
        <h1>Compete to others</h1>
        <p>Moreover we provide rating changes after tournament finishes.</p>
      </div>
      <div>
        <h2 class="number">11.5M+</h2>
        <p>rounds were held</p>
        <h2 class="number">21K+</h2>
        <p>users registered</p>
        <h2 class="number">0.0000$</h2>
        <p>money took by us</p>
      </div>
    </div>
  </div>

  <div class="block-content hidden">
    <h1>Our priorities</h1>

    <div class="container">
      <div class="little_container">
        <div class="card little-card__hide">
          <p class="header" style="border-color: #2684ff;">Fast</p>
          <p class="text">Elit sed vulputate mi sit amet mauris commodo quis. Posuere lorem ipsum dolor sit amet
            consectetur adipiscing elit duis. Mattis vulputate enim nulla aliquet.</p>
          <p class="number">
            <svg width="5" height="5" viewBox="0 0 5 5" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M0 2.14307C0 0.959483 0.959484 0 2.14307 0C3.32665 0 4.28613 0.959484 4.28613 2.14307V2.32764C4.28613 3.51122 3.32665 4.4707 2.14307 4.4707C0.959484 4.4707 0 3.51122 0 2.32764V2.14307Z"
                fill="#1FCFF1"/>
            </svg>
            4000
          </p>
          <p class="after-number">battles held every hour</p>

          <p class="header" style="border-color: #9a06d5; margin-top: 30px;">Developing</p>
          <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua.</p>
          <p class="number">
            <svg width="5" height="5" viewBox="0 0 5 5" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M0 2.14307C0 0.959483 0.959484 0 2.14307 0C3.32665 0 4.28613 0.959484 4.28613 2.14307V2.32764C4.28613 3.51122 3.32665 4.4707 2.14307 4.4707C0.959484 4.4707 0 3.51122 0 2.32764V2.14307Z"
                fill="#1FCFF1"/>
            </svg>
            54'493
          </p>
          <p class="after-number">Lorem ipsum blablabla</p>
        </div>
      </div>
      <div class="little_container">
        <div class="card little-card__hide">
          <p class="header" style="border-color: #ffff00;">Lectus</p>
          <p class="text">Tellus orci ac auctor augue mauris augue neque gravida in. Integer malesuada nunc vel risus
            commodo viverra maecenas accumsan. Aliquet eget sit amet tellus cras adipiscing enim eu turpis. Metus dictum
            at tempor commodo ullamcorper a lacus vestibulum sed.</p>
          <p class="number">
            <svg width="5" height="5" viewBox="0 0 5 5" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M0 2.14307C0 0.959483 0.959484 0 2.14307 0C3.32665 0 4.28613 0.959484 4.28613 2.14307V2.32764C4.28613 3.51122 3.32665 4.4707 2.14307 4.4707C0.959484 4.4707 0 3.51122 0 2.32764V2.14307Z"
                fill="#1FCFF1"/>
            </svg>
            1,675
          </p>
          <p class="after-number">battles held every hour</p>

          <p class="header" style="border-color: #9a06d5; margin-top: 30px;">Suspendisse</p>
          <p class="text">Diam in arcu cursus euismod quis viverra. Non diam phasellus vestibulum lorem sed risus. Purus
            in mollis nunc sed id semper risus in hendrerit. Ut aliquam purus sit amet luctus venenatis.</p>
          <p class="number">
            <svg width="5" height="5" viewBox="0 0 5 5" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M0 2.14307C0 0.959483 0.959484 0 2.14307 0C3.32665 0 4.28613 0.959484 4.28613 2.14307V2.32764C4.28613 3.51122 3.32665 4.4707 2.14307 4.4707C0.959484 4.4707 0 3.51122 0 2.32764V2.14307Z"
                fill="#1FCFF1"/>
            </svg>
            0%
          </p>
          <p class="after-number">Lorem ipsum blablabla</p>
        </div>
      </div>
    </div>
  </div>

  <div class="background">
    <!--        <p class="vertical-line" style="left: 20em;"></p>-->
    <!--        <p class="vertical-line" style="left: 5em;"></p>-->

    <img src="assets/main-page/background-object1.svg" style="position: absolute; opacity: .7;">
    <img src="assets/main-page/background-object2.svg" style="position: absolute; bottom: -300px; right: -700px;">
  </div>

</main>
