form{
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  background: rgb(232, 28, 100);
  width: 500px;
  height: 600px;
  padding: 20px;
  box-shadow: 2px 2px 5px rebeccapurple;
  border-radius: 30px/30px;
  border:none;
  //text-align: center;
}
input {
  color: black;
  margin-top: 5px;
  padding-left: 3px;
  height: 20px;
  width: 400px;
  border-radius: 20px/20px;
  border:none;
}
.group{
  margin: 10px;
  padding: 5px;
}
label{
  padding-left: 20px;
  padding-right: 5px;
}
link{
  color: #9a06d5;
}
button{
  background: rebeccapurple;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 30px;
  border-radius: 30px/30px;
  border:none;
}
h1{
  margin-top: 40px;
  text-align: center;
  font-size: 40px;
  font-family: "Raleway", sans-serif;
  color: purple;
  font-weight: bolder;
  //background: rgb(232, 28, 100);
  text-transform: uppercase;
}

