<main class="content">

    <div class="block-content block-header">
        <h1>
            <span>Improve your coding</span>
            <span>skills with us.</span>
        </h1>
        <p class="after-header">Amazing platform for game coding competitions. Let's bring game coding to life again
            together.</p>

        <div class="buttons-container">
            <div (click)="go('register')" class="button start-button">
                <p>Press Start</p>
            </div>
            <div class="button">
                <p (click)="go('wiki')">read docs</p>
            </div>
        </div>
    </div>

    <div class="background">
        <img src="/static/angular/assets/background_svgs/background-object1.svg"
             style="position: absolute; left:-20px; opacity: .7;">
<!--        <img class="background__sphere2" src="/static/angular/assets/background_svgs/background-object2.svg"-->
<!--             style="position: absolute;">-->
    </div>

</main>
