.content {
  width:          100%;
  min-height:     100%;
  height:         fit-content;
  overflow:       visible;
  position:       relative;
  padding:        40px 0;
  display:        flex;
  flex-direction: column;

  .block-content {
    width:          100%;
    display:        flex;
    flex-direction: column;
  }

  .block-header {
    min-height: 500px;
    justify-content: center;
    align-items:     center;
    align-content:   center;

    h1 {
      width:          fit-content;
      text-align:     center;
      font-size:      clamp(30px, 8vw, 80px);
      display:        flex;
      flex-direction: column;
    }

    .after-header {
      color: #999999;
    }

    .buttons-container {
      margin-top:      30px;
      display:         flex;
      flex-wrap:       wrap;
      flex-direction:  row;
      justify-content: center;
      grid-column-gap: 40px;
      grid-row-gap:    20px;

      .button {
        --button-primary-color:   #19ff00;
        --button-secondary-color: #19ff00;
        padding:                  10px 40px;
        position:                 relative;
        background-color:         transparent;
        cursor:                   pointer;
        border:                   2px solid var(--button-primary-color);
        overflow:                 hidden;
        border-radius:            30px;
        color:                    var(--button-secondary-color);
        transition:               all 0.5s ease-in-out;

        p {
          font-size:      25px;
          z-index:        1;
          font-weight:    800;
          letter-spacing: 1px;
        }

        &::after {
          content:          "";
          position:         absolute;
          left:             0;
          top:              0;
          transition:       all 0.5s ease-in-out;
          background-color: var(--button-secondary-color);
          border-radius:    30px;
          visibility:       hidden;
          height:           10px;
          width:            10px;
          z-index:          -1;
        }

        &:hover {
          box-shadow: 1px 1px 200px var(--button-primary-color);
          color:      #000000;
          border:     2px solid var(--button-secondary-color);

          &::after {
            visibility: visible;
            transform:  scale(100) translateX(2px);
          }
        }
      }

      .start-button {
        --button-primary-color: #a300ff;
        --button-secondary-color: #a300ff;
      }
    }
  }

  @media screen and (max-width: 1440px) {
    padding: 40px 20px;
  }
}

.background {
  z-index:    -1;
  opacity:    .7;
  width:      100%;
  min-height: 100%;
  height:     fit-content;
  padding:    10em 3em;
  position:   absolute;
  top:        0;

  * { z-index: -1; }
}