.main-container {
  width:           100vw;
  height:          fit-content;
  min-height:      calc(100vh - var(--top-bar-height));
  display:         flex;
  flex-direction:  row;
  justify-content: center;
}

.content {
  width:     100%;
  height:    fit-content;
  position: relative;
  max-width: var(--max-main-width);
}