.main-content {
  width:           100%;
  height:          fit-content;
  overflow:        visible;
  max-width:       var(--max-main-width);
  min-height:      calc(100vh - var(--top-bar-height));
  position:        relative;
  display:         flex;
  justify-content: center;
  flex-direction: row;
}
