/* IMPORTS */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Raleway");
@import url("https://fonts.googleapis.com/css2?family=Rubik");
@import url('https://fonts.googleapis.com/css2?family=Inter');
@import url('https://fonts.cdnfonts.com/css/noto-sans-syriac-eastern');

/* TAGS STYLES */

html, body {
  width:           100vw;
  min-height:      100vh;
  scroll-behavior: smooth;
  overflow-y:      hidden;
  overflow-x:      hidden;
  color:           rgb(var(--text-color));
}

body {
  background-color: rgb(var(--background-color));
  display:          flex;
  flex-wrap:        wrap;
  overflow-y:       scroll;
}

*::-webkit-scrollbar {
  display: none;
  width:   0;
}

::selection {
  background: rgb(var(--prismarine));
  color:      rgb(var(--black));
}

* {
  line-height: 100%;
  box-sizing:  border-box;
  margin:      0;
  padding:     0;
  caret-color: transparent;
  font-family: var(--ff-inter);
  user-select: text !important;
}

input {
  caret-color: rgb(var(--caret-color));
}

li {
  list-style-type: none;
  display:         inline-block;
}

input, button, select {
  outline-offset: 0;
  outline:        0;
}

img {
  -moz-user-select:    none;
  -webkit-user-select: none;
  user-select:         none;
  pointer-events:      none;
}

/* LITTLE CLASSES */
.font-size-xxxlarge {
  font-size: clamp(4.5rem, 7vw, 7.5rem);

  @media screen and (max-width: 991px) {
    font-size: 7vw;
  }
  @media screen and (max-width: 470px) {
    font-size: 9.25vw;
  }
}

.font-size-xxlarge {
  font-size: clamp(3rem, 5vw, 5rem);

  @media screen and (max-width: 991px) {
    font-size: 3rem;
  }
  @media screen and (max-width: 470px) {
    font-size: 2rem;
  }
}

.font-size-xlarge {
  font-size: clamp(2.5rem, 3.5vw, 3rem);

  @media screen and (max-width: 991px) {
    font-size: 2.5rem;
  }
  @media screen and (max-width: 470px) {
    font-size: 1.75rem;
  }
}

.font-size-large {
  font-size: clamp(1.5rem, 2vw, 2.5rem);

  @media screen and (max-width: 991px) {
    font-size: 2rem;
  }
  @media screen and (max-width: 470px) {
    font-size: 1.5rem;
  }
}

.font-size-medium {
  font-size: 1.5rem;

  @media screen and (max-width: 470px) {
    font-size: 1rem;
  }
}

.font-size-regular {
  font-size: 1rem;
}

.fw-700 { font-weight: 700; }

.fw-600 { font-weight: 600; }

.fw-500 { font-weight: 500; }

/* VARIABLES */
:root { // fonts
  --ff-raleway: "Raleway", sans-serif;
  --ff-rubik:   "Rubik", sans-serif;
  --ff-noto:    "Noto Sans Syriac Eastern", sans-serif;
  --ff-inter:   "Inter", sans-serif;
}

:root { // sizes
  --login-box-width: min(100%, 300px);
  --top-bar-height:  70px;
  --max-main-width:  1440px;
}

:root { // basic colors
  --white:      255, 255, 255;
  --black:      0, 0, 0;
  --d-blue:     17, 15, 66;
  --dd-blue:    0, 0, 21;
  --l-blue:     27, 23, 98;
  --d-green:    21, 202, 12;
  --l-green:    153, 255, 145;
  --prismarine: 0, 255, 161;
  --gray:       153, 153, 153;
  --purple:     163, 0, 255;
  --pink:       232, 28, 255;
  --blue:       34, 132, 250;
  --l-purple:   167, 139, 250;
  --d-gray:     55, 65, 81;
  --d-gray2:    65, 65, 65;
  --orange:     255, 136, 0;
}

:root { // colors
  --text-color:           var(--white);
  --caret-color:          var(--white);
  --background-color:     var(--dd-blue);
  --border-color:         var(--l-blue);
  --color-accent:         var(--prismarine);
  --button-primary-color: var(--purple);
}