.body {
  width:   100%;
  height:  max-content;
  display: flex;
  padding: 0;

  @media screen and (max-width: 1440px) and (min-width: 800px) { padding: 0 3em; }
  @media screen and (min-width: 800px) { padding: 0 30px; }
}

.top-part {

}

.time-line__container__laptop {
  width:           100%;
  display:         flex;
  position:        relative;
  grid-column-gap: 20px;

  .date-part {
    width: 30%;
  }

  .contest-part {
    width:          70%;
    display:        flex;
    flex-direction: column;
    grid-row-gap:   3vmin;

    .contest-card__item {
      --size:              250px;
      height:              max-content;
      width:               100%;
      display:             flex;
      border-radius:       20px;
      transition-duration: 1s;
      position:            relative;

      .image-part {
        height: var(--size);
        width:  calc(var(--size) + 50px);

        .backgr-image {
          height:          var(--size);
          width:           calc(var(--size) + 50px);
          object-fit:      cover;
          object-position: 100% center;
        }

        .arrow {
          position: absolute;
          top:      0;
          left:     -5px;
          height:   var(--size);
          fill:     var(--background-ddark);
        }
      }

      .text-part {
        width:                      calc(100% - var(--size) - 50px);
        height:                     max(var(max-content), var(--size));
        padding:                    1vmin 3vmin;
        background:                 #ffffff;
        border-bottom-right-radius: 20px;
        border-top-right-radius:    20px;
        overflow:                   hidden;
        transition-duration:        .5s;

        .name {
          color:       #ff5c00;
          font-weight: 700;
          font-size:   min(30px, 4vmin);
        }

        .about-contest {
          display:         flex;
          justify-content: space-between;

          p {
            font-family:     var(--f-rubik);
            display:         flex;
            justify-content: center;
            align-items:     center;
            align-content:   center;
            color:           #000000;
            font-size:       max(10px, min(15px, 3vw));
            font-weight:     600;
            grid-column-gap: 10px;

            svg {
              width: max(10px, min(15px, 3vw));
            }
          }
        }

        .bottom-part {
          display:        flex;
          flex-direction: column;
          color:          #000000;

          .about-text {
            margin-top: 20px;

            p { font-weight: 600; }
          }

          .buttons-part {
            margin-top:      10px;
            display:         flex;
            justify-content: space-between;
            margin-bottom:   10px;

            p {
              font-size:   20px;
              font-weight: 600;
            }

            .read-more-btn {
              color:       #ff5c00;
              font-weight: 600;
            }

            .register-btn {
              padding:       10px 20px;
              background:    #ff5c00;
              border-radius: 10px;
              color:         #ffffff;
            }
          }
        }
      }
    }
  }

  .vertical-line {
    height:     100vh;
    width:      2px;
    background: #999999;
  }
}

.time-line__container__mobile {
  display: none;
}

@media screen and (max-width: 1000px) {
  .time-line__container__mobile { display: flex !important; }
  .time-line__container__laptop { display: none !important; }
}