<main class="body">

    <div class="top">
	<div class="top__background">

	</div>
	<div class="top__content">
	    <h1>Discover more about our team and goals.</h1>
	</div>
    </div>

    <div class="content__container">
	<!-- our team -->
	<div class="content__item our-team__container">

	</div>

	<!-- how the project was developed -->
	<div class="content__item developing__container">

	</div>

	<!-- our blog -->
	<div class="content__item our-blog__container">

	</div>

	<!-- our partners -->
	<div class="content__item our-partners__container">

	</div>

	<!-- Let's talk! -->
	<div class="content__item lets-talk__container">

	</div>
    </div>

</main>
