.body {
  width:          100%;
  height:         fit-content;
  display:        flex;
  flex-direction: column;
  position:       relative;
  padding:        0 20px;
  @media screen and (min-width: 600px) { padding: 0 3em; }
}

.top {
  width:          100%;
  height:         fit-content;
  display:        flex;
  flex-direction: row;
  position:       relative;
  overflow:       visible;

  .top__background {
    width:    100%;
    height:   100%;
    overflow: visible;
    position: absolute;
    top:      0;
    left:     0;
    z-index:  -1;

    img {
      position: absolute;
    }
  }

  .top__content {
    width:   100%;
    padding: 10em 0;

    h1 {
      font-size:   max(3em, min(5em, 5vw));
      font-weight: bold;
      line-height: 100%;

      @media screen and (min-width: 600px) { max-width: 70%; }
    }

    p {
      margin-top:     10px;
      color:          #999999;
      text-transform: uppercase;
      font-weight:    bolder;
    }
  }
}

.content__container {
  width: 100%;

  .content__item {
    position: relative;
    width:    100%;

    &:not(:first-child) { margin-top: 7vmin; }

    .header { font-size: max(2em, min(3em, 5vw)); }

    .text {
      font-size:  max(13px, min(20px, 3vmin));
      text-align: justify;
      max-width:  min(100vw, 800px);
      padding:    10px;
    }
  }

  // our team
  .our-team__container {
    .scroll-items__container {
      margin-top: 20px;
      width:      100%;
      height:     400px;
      overflow-x: scroll;
      position:   relative;

      &::-webkit-scrollbar {
        display: none;
        width:   0;
      }

      .scroll-items__blocks {
        position:        absolute;
        top:             0;
        left:            0;
        width:           max-content;
        height:          max-content;
        grid-column-gap: 40px;
        z-index:         1000;
        display:         flex;

        .scroll-items__block {
          display:             flex;
          flex-direction:      column;
          align-items:         center;
          align-content:       center;
          transition-duration: 1s;

          img {
            width:         300px;
            height:        300px;
            border-radius: 100%;
            margin-bottom: 10px;

            @media screen and (max-width: 400px) {
              width:  200px;
              height: 200px;
            }
          }

          p { font-size: max(15px, min(20px, 3vmin)); }
        }

        .image-hidden { opacity: 0; }

        .image-show { opacity: 1; }
      }
    }
  }

  // how the problem was developed
  .developing__container {

  }

  // our blog
  .our-blog__container {
    .cards__container {
      margin-top: 20px;
      width:      100%;
      height:     400px;
      overflow-x: scroll;
      position:   relative;

      &::-webkit-scrollbar {
        display: none;
        width:   0;
      }

      .cards__scroll-items {
        position:        absolute;
        top:             0;
        left:            0;
        width:           max-content;
        height:          max-content;
        grid-column-gap: 40px;
        z-index:         1000;
        display:         flex;

        .card {
          display:             flex;
          transition-duration: 1s;
          width:               500px;
          height:              300px;
          background:          #ffffff;

          @media screen and (max-width: 300px) {
            width:  300px;
            height: calc(300px * (300 / 500));
          }
          @media screen and (max-width: 600px) {
            width:  400px;
            height: calc(300px * (400 / 500));
          }

          .card__text {

          }

          .card__header {

          }
        }
      }
    }
  }

  // our partners
  .our-partners__container {

  }

  // let talk
  .lets-talk__container {
    .form-container {
      width:          min(100%, 400px);
      background:     linear-gradient(#000015, #000015) padding-box,
                      linear-gradient(145deg, transparent 35%, #e81cff, #40c9ff) border-box;
      border:         2px solid transparent;
      padding:        32px 24px;
      font-size:      14px;
      font-family:    inherit;
      color:          white;
      display:        flex;
      flex-direction: column;
      gap:            20px;
      box-sizing:     border-box;
      border-radius:  16px;

      button:active { scale: 0.95; }

      .form {
        display:        flex;
        flex-direction: column;
        gap:            20px;
      }

      .form-group {
        display:        flex;
        flex-direction: column;
        gap:            2px;

        label {
          display:       block;
          margin-bottom: 5px;
          color:         #717171;
          font-weight:   600;
          font-size:     12px;
        }

        input {
          width:            100%;
          padding:          12px 16px;
          border-radius:    8px;
          color:            #ffffff;
          font-family:      inherit;
          background-color: transparent;
          border:           1px solid #414141;
        }

        textarea {
          width:            100%;
          padding:          12px 16px;
          border-radius:    8px;
          resize:           none;
          color:            #ffffff;
          height:           96px;
          border:           1px solid #414141;
          background-color: transparent;
          font-family:      inherit;
        }

        input::placeholder { opacity: 0.5;}

        input:focus { border-color: #e81cff; }

        textarea:focus { border-color: #e81cff; }
      }

      .form-submit-btn {
        display:             flex;
        align-items:         flex-start;
        justify-content:     center;
        align-self:          flex-start;
        font-family:         inherit;
        color:               #717171;
        font-weight:         600;
        width:               40%;
        min-width:           100px;
        background:          #313131;
        border:              1px solid #414141;
        padding:             12px 16px;
        font-size:           inherit;
        gap:                 8px;
        margin-top:          8px;
        cursor:              pointer;
        border-radius:       6px;
        transition-duration: 1s;

        &:hover {
          background-color: #ffffff;
          border-color:     #ffffff;
        }
      }
    }
  }
}