<main class="about-us">
  <p class="team">Our Team</p>
  <ul class="Wrapper">
    <ul class="element">
      <li class="left-column">
        <img src="/assets/Boris.jpg" alt="">
      </li>
      <li class="right-column">
        <p>
          Пытается не сойти с ума.
        </p>
      </li>
    </ul>
    <ul class="element">
      <li class="left-column">
        <img src="/assets/Serafim.jpg" alt="">
      </li>
      <li class="right-column">
        <p>
          Осознаёт суть фронта.
        </p>
      </li>
    </ul>
    <ul class="element">
      <li class="left-column">
        <img src="/assets/Vova.jpg" alt="">
      </li>
      <li class="right-column">
        <p>
          Поступает на истфак.
        </p>
      </li>
    </ul>
    <ul class="element">
      <li class="left-column">
        <img src="/assets/Mihail.jpg" alt="">
      </li>
      <li class="right-column">
        <p>
          Был физик, стал программист.
        </p>
      </li>
    </ul>
  </ul>
</main>
