/* IMPORTS */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Raleway');
@import url('https://fonts.googleapis.com/css2?family=Goldman');
@import url('https://fonts.googleapis.com/css2?family=Rubik');


/* TAGS STYLES */
html, body {
  width: 100vw;
  height: 100vh;
  scroll-behavior: smooth;
  overflow: hidden;
  color: var(--text-white)
}

body {
  display: flex;
  flex-wrap: wrap;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  display: inline-block;
}

h1, h2, h3, h4, h5, h6, p, a, input, div, span, button {
  font-family: 'Raleway', sans-serif;
}

input {
  outline-offset: 0;
  outline: 0;
}

button {
  outline-offset: 0;
  outline: 0;
}

/* SCROLL BAR */
.scroll-bar::-webkit-scrollbar {
  width: 10px;
}

.scroll-bar::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgba(239, 238, 224, 0.25);
}

.scroll-bar::-webkit-scrollbar-button {
  display: none;
}

.scroll-bar::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: var(--background-ldark);
}

.scroll-bar {
  scrollbar-width: thin;
  overflow-y: scroll !important;
  scrollbar-color: var(--background-ldark) var(--background-dark);
}

/* GLOBAL VARIABLES */
/* size */
body {
  background-color: var(--background-dark);
  --login-box-width: min(100%, 300px);
  --top-bar-height: 70px;
}

// fonts
body {
  --f-raleway: 'Raleway', sans-serif;
  --f-rubik: 'Rubik', sans-serif;
}

/* color */
body {
  --background-dark: #020024;
  --background-ddark: #00001f;
  --background-ldark: #030034;
  --text-white: #ebe9fc;
  --color-primary: #15ca0c;
  --color-secondary: #20222A;
  --color-accent: #00ffa1;
  --color-accent-second: #99ff91;
}

@media screen and (max-width: 900px) {
  .scroll-bar {
    &::-webkit-scrollbar {
      width: 0;
      display: none;
    }
  }
}

.body {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
}