<main class="main-content">

  <div class="top-part">
    <div class="background">
      <img src="../../../../assets/background_svgs/background-object3.svg">
    </div>

    <div class="content">
      <h1>Try solving tasks for self-improvement.</h1>
      <p>Join our app to code games everytime you want.</p>
      <div class="button">read docs</div>
    </div>

    <div class="bottom-content">
      <div class="daily-solvers">
        <p>Top solvers today: </p>
        <p class="place to_hide600">
          <img src="../../../../assets/icons/cup_second.svg">
          Round_Loser
        </p>
        <p class="place">
          <img src="../../../../assets/icons/cup_first.svg">
          Physicus
        </p>
        <p class="place to_hide600">
          <img src="../../../../assets/icons/cup_third.svg">
          FeironoX5
        </p>
      </div>
    </div>
  </div>


  <div class="tasks_archive__container">
    <div class="tasks_archive__list">



    </div>
  </div>

</main>
