<div class="main-block">
    <div class="form-container">
        <p class="title">Register</p>
        <form class="form">
            <div class="input-group">
                <label for="username">Username</label>
                <input [(ngModel)]="user.username" type="text" name="username" autocomplete="username" id="username" placeholder="">
            </div>
            <div class="input-group">
                <label for="email">Email</label>
                <input [(ngModel)]="user.email" type="email" name="email" autocomplete="email" id="email" placeholder="">
            </div>
            <div class="input-group">
                <label for="password1">Password</label>
                <input [(ngModel)]="user.password1" type="password" name="password1" autocomplete="password" id="password1" placeholder="">
            </div>
            <div class="input-group">
                <label for="password2">Confirm password</label>
                <input [(ngModel)]="user.password2" type="password" name="password2" autocomplete="password2" id="password2" placeholder="">
            </div>
            <button id="submit-login-button" (click)="register()" type="button" class="sign">Sign up</button>
        </form>
        <p class="signup">Already have an account?
            <a (click)="go_link('login')" class="">Sign in</a>
        </p>
    </div>
</div>


<div id="loader-box" class="loader_container">
    <div class="banter-loader">
        <div class="banter-loader__box"></div>
        <div class="banter-loader__box"></div>
        <div class="banter-loader__box"></div>
        <div class="banter-loader__box"></div>
        <div class="banter-loader__box"></div>
        <div class="banter-loader__box"></div>
        <div class="banter-loader__box"></div>
        <div class="banter-loader__box"></div>
        <div class="banter-loader__box"></div>
    </div>
</div>