.main-block {
  width:           100%;
  height:          fit-content;
  padding-top:     50px;
  display:         flex;
  justify-content: center;

  .form-container {
    width:            320px;
    border-radius:    0.75rem;
    background-color: rgba(var(--black), 1);
    padding:          2rem;
    color:            rgba(var(--white), 1);

    .title {
      text-align:  center;
      font-size:   1.5rem;
      line-height: 2rem;
      font-weight: 700;
    }

    .form {
      margin-top: 1.5rem;

      .input-group {
        margin-top:  0.25rem;
        font-size:   0.875rem;
        line-height: 1.25rem;

        label {
          display:       block;
          color:         rgba(var(--gray), 1);
          margin-bottom: 4px;
        }

        input {
          width:            100%;
          border-radius:    0.375rem;
          border:           1px solid rgba(var(--d-gray), 1);
          outline:          0;
          background-color: rgba(var(--black), 1);
          padding:          0.75rem 1rem;
          color:            rgba(var(--white), 1);

          &:focus {
            border-color: rgba(var(--l-purple));
          }
        }
      }

      .forgot {
        display:         flex;
        justify-content: flex-end;
        font-size:       0.75rem;
        line-height:     1rem;
        color:           rgba(var(--gray));
        margin:          8px 0 14px 0;
      }

      .forgot a, .signup a {
        color:           rgba(var(--white));
        text-decoration: none;
        font-size:       14px;

        &:hover {
          text-decoration: underline rgba(var(--l-purple));
        }
      }

      .sign {
        display:          block;
        width:            100%;
        background-color: rgb(var(--l-purple));
        padding:          0.75rem;
        text-align:       center;
        color:            rgba(var(--black));
        border:           none;
        border-radius:    0.375rem;
        margin-top:       20px;
        font-weight:      600;
      }
    }

    .social-icons {
      display:         flex;
      justify-content: center;

      .icon {
        border-radius:    0.125rem;
        padding:          0.75rem;
        border:           none;
        background-color: transparent;
        margin-left:      8px;

        svg {
          height: 1.25rem;
          width:  1.25rem;
          fill:   rgb(var(--white));
        }
      }
    }

    .social-message {
      display:     flex;
      align-items: center;
      padding-top: 1rem;

      .line {
        height:           1px;
        flex:             1 1 0%;
        background-color: rgb(var(--d-gray));
      }

      .message {
        padding-left:  0.75rem;
        padding-right: 0.75rem;
        font-size:     0.875rem;
        line-height:   1.25rem;
        color:         rgb(var(--gray));
      }
    }

    .signup {
      text-align:          center;
      font-size:           0.75rem;
      line-height:         1rem;
      color:               rgb(var(--gray));
      transition-duration: .5s;

      a:hover {
        color:  rgb(var(--white));
        cursor: pointer;
      }
    }
  }
}


.loader_container {
  position:        absolute;
  top:             0;
  left:            0;
  bottom:          0;
  right:           0;
  display:         none;
  justify-content: center;
  align-items:     center;
  align-content:   center;

  .banter-loader {
    position: relative;
    width:    72px;
    height:   72px;

    .banter-loader__box {
      float:        left;
      position:     relative;
      width:        20px;
      height:       20px;
      margin-right: 6px;

      &:before {
        content:    "";
        position:   absolute;
        left:       0;
        top:        0;
        width:      100%;
        height:     100%;
        background: #fff;
      }

      &:nth-child(3n) {
        margin-right:  0;
        margin-bottom: 6px;
      }

      &:nth-child(1):before, &:nth-child(4):before {
        margin-left: 26px;
      }

      &:nth-child(3):before {
        margin-top: 52px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  @keyframes moveBox-1 {
    9.0909090909% {
      transform: translate(-26px, 0);
    }

    18.1818181818% {
      transform: translate(0px, 0);
    }

    27.2727272727% {
      transform: translate(0px, 0);
    }

    36.3636363636% {
      transform: translate(26px, 0);
    }

    45.4545454545% {
      transform: translate(26px, 26px);
    }

    54.5454545455% {
      transform: translate(26px, 26px);
    }

    63.6363636364% {
      transform: translate(26px, 26px);
    }

    72.7272727273% {
      transform: translate(26px, 0px);
    }

    81.8181818182% {
      transform: translate(0px, 0px);
    }

    90.9090909091% {
      transform: translate(-26px, 0px);
    }

    100% {
      transform: translate(0px, 0px);
    }
  }

  .banter-loader__box:nth-child(1) {
    animation: moveBox-1 4s infinite;
  }

  @keyframes moveBox-2 {
    9.0909090909% {
      transform: translate(0, 0);
    }

    18.1818181818% {
      transform: translate(26px, 0);
    }

    27.2727272727% {
      transform: translate(0px, 0);
    }

    36.3636363636% {
      transform: translate(26px, 0);
    }

    45.4545454545% {
      transform: translate(26px, 26px);
    }

    54.5454545455% {
      transform: translate(26px, 26px);
    }

    63.6363636364% {
      transform: translate(26px, 26px);
    }

    72.7272727273% {
      transform: translate(26px, 26px);
    }

    81.8181818182% {
      transform: translate(0px, 26px);
    }

    90.9090909091% {
      transform: translate(0px, 26px);
    }

    100% {
      transform: translate(0px, 0px);
    }
  }

  .banter-loader__box:nth-child(2) {
    animation: moveBox-2 4s infinite;
  }

  @keyframes moveBox-3 {
    9.0909090909% {
      transform: translate(-26px, 0);
    }

    18.1818181818% {
      transform: translate(-26px, 0);
    }

    27.2727272727% {
      transform: translate(0px, 0);
    }

    36.3636363636% {
      transform: translate(-26px, 0);
    }

    45.4545454545% {
      transform: translate(-26px, 0);
    }

    54.5454545455% {
      transform: translate(-26px, 0);
    }

    63.6363636364% {
      transform: translate(-26px, 0);
    }

    72.7272727273% {
      transform: translate(-26px, 0);
    }

    81.8181818182% {
      transform: translate(-26px, -26px);
    }

    90.9090909091% {
      transform: translate(0px, -26px);
    }

    100% {
      transform: translate(0px, 0px);
    }
  }

  .banter-loader__box:nth-child(3) {
    animation: moveBox-3 4s infinite;
  }

  @keyframes moveBox-4 {
    9.0909090909% {
      transform: translate(-26px, 0);
    }

    18.1818181818% {
      transform: translate(-26px, 0);
    }

    27.2727272727% {
      transform: translate(-26px, -26px);
    }

    36.3636363636% {
      transform: translate(0px, -26px);
    }

    45.4545454545% {
      transform: translate(0px, 0px);
    }

    54.5454545455% {
      transform: translate(0px, -26px);
    }

    63.6363636364% {
      transform: translate(0px, -26px);
    }

    72.7272727273% {
      transform: translate(0px, -26px);
    }

    81.8181818182% {
      transform: translate(-26px, -26px);
    }

    90.9090909091% {
      transform: translate(-26px, 0px);
    }

    100% {
      transform: translate(0px, 0px);
    }
  }

  .banter-loader__box:nth-child(4) {
    animation: moveBox-4 4s infinite;
  }

  @keyframes moveBox-5 {
    9.0909090909% {
      transform: translate(0, 0);
    }

    18.1818181818% {
      transform: translate(0, 0);
    }

    27.2727272727% {
      transform: translate(0, 0);
    }

    36.3636363636% {
      transform: translate(26px, 0);
    }

    45.4545454545% {
      transform: translate(26px, 0);
    }

    54.5454545455% {
      transform: translate(26px, 0);
    }

    63.6363636364% {
      transform: translate(26px, 0);
    }

    72.7272727273% {
      transform: translate(26px, 0);
    }

    81.8181818182% {
      transform: translate(26px, -26px);
    }

    90.9090909091% {
      transform: translate(0px, -26px);
    }

    100% {
      transform: translate(0px, 0px);
    }
  }

  .banter-loader__box:nth-child(5) {
    animation: moveBox-5 4s infinite;
  }

  @keyframes moveBox-6 {
    9.0909090909% {
      transform: translate(0, 0);
    }

    18.1818181818% {
      transform: translate(-26px, 0);
    }

    27.2727272727% {
      transform: translate(-26px, 0);
    }

    36.3636363636% {
      transform: translate(0px, 0);
    }

    45.4545454545% {
      transform: translate(0px, 0);
    }

    54.5454545455% {
      transform: translate(0px, 0);
    }

    63.6363636364% {
      transform: translate(0px, 0);
    }

    72.7272727273% {
      transform: translate(0px, 26px);
    }

    81.8181818182% {
      transform: translate(-26px, 26px);
    }

    90.9090909091% {
      transform: translate(-26px, 0px);
    }

    100% {
      transform: translate(0px, 0px);
    }
  }

  .banter-loader__box:nth-child(6) {
    animation: moveBox-6 4s infinite;
  }

  @keyframes moveBox-7 {
    9.0909090909% {
      transform: translate(26px, 0);
    }

    18.1818181818% {
      transform: translate(26px, 0);
    }

    27.2727272727% {
      transform: translate(26px, 0);
    }

    36.3636363636% {
      transform: translate(0px, 0);
    }

    45.4545454545% {
      transform: translate(0px, -26px);
    }

    54.5454545455% {
      transform: translate(26px, -26px);
    }

    63.6363636364% {
      transform: translate(0px, -26px);
    }

    72.7272727273% {
      transform: translate(0px, -26px);
    }

    81.8181818182% {
      transform: translate(0px, 0px);
    }

    90.9090909091% {
      transform: translate(26px, 0px);
    }

    100% {
      transform: translate(0px, 0px);
    }
  }

  .banter-loader__box:nth-child(7) {
    animation: moveBox-7 4s infinite;
  }

  @keyframes moveBox-8 {
    9.0909090909% {
      transform: translate(0, 0);
    }

    18.1818181818% {
      transform: translate(-26px, 0);
    }

    27.2727272727% {
      transform: translate(-26px, -26px);
    }

    36.3636363636% {
      transform: translate(0px, -26px);
    }

    45.4545454545% {
      transform: translate(0px, -26px);
    }

    54.5454545455% {
      transform: translate(0px, -26px);
    }

    63.6363636364% {
      transform: translate(0px, -26px);
    }

    72.7272727273% {
      transform: translate(0px, -26px);
    }

    81.8181818182% {
      transform: translate(26px, -26px);
    }

    90.9090909091% {
      transform: translate(26px, 0px);
    }

    100% {
      transform: translate(0px, 0px);
    }
  }

  .banter-loader__box:nth-child(8) {
    animation: moveBox-8 4s infinite;
  }

  @keyframes moveBox-9 {
    9.0909090909% {
      transform: translate(-26px, 0);
    }

    18.1818181818% {
      transform: translate(-26px, 0);
    }

    27.2727272727% {
      transform: translate(0px, 0);
    }

    36.3636363636% {
      transform: translate(-26px, 0);
    }

    45.4545454545% {
      transform: translate(0px, 0);
    }

    54.5454545455% {
      transform: translate(0px, 0);
    }

    63.6363636364% {
      transform: translate(-26px, 0);
    }

    72.7272727273% {
      transform: translate(-26px, 0);
    }

    81.8181818182% {
      transform: translate(-52px, 0);
    }

    90.9090909091% {
      transform: translate(-26px, 0);
    }

    100% {
      transform: translate(0px, 0);
    }
  }

  .banter-loader__box:nth-child(9) {
    animation: moveBox-9 4s infinite;
  }
}