<div class="main-block">
    <div class="form-container">
        <p class="title">Login</p>
        <form class="form">
            <div class="input-group">
                <label for="username">Username</label>
                <input [(ngModel)]="user.username" type="text" name="username" autocomplete="username" id="username"
                       placeholder="">
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input [(ngModel)]="user.password" type="password" name="password" autocomplete="password" id="password"
                       placeholder="">
                <div class="forgot">
                    <a rel="noopener noreferrer" href="#">Forgot Password ?</a>
                </div>
            </div>
            <button id="submit-login-button" (click)="login()" type="button" class="sign">Sign in</button>
        </form>
        <p class="signup">Don't have an account?
            <a (click)="go_link('register')" class="">Sign up</a>
        </p>
    </div>
</div>