@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
* { font-family: 'Raleway', sans-serif; }

table {
    background: #292936;
    padding: 10px;
    border-radius: 10px;
    color: white;
}
table td {
    padding: 5px 15px;
}

.form-with-td td:first-child {
    color: #efd00c;
    padding-right: 20px;
    font-weight: bold;
}

input[type='submit'] {
    font-weight: bolder;
    padding: .7em 2.7em;
    border-radius: 10px;
    border: 1px solid black;
}
input {
    display: block;
}
input:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

form {
    margin-left: 32%;
    margin-top: 50px;
    margin-right: 32%;
    background: white;
}

aside ul {
    list-style: none;
    text-align: center;
    margin-left: 32%;
    margin-top: 150px;
    margin-right: 32%;
    background: white;
}
