.background {
  position: absolute;
  width:    100%;
  height:   100%;

  img {
    width:           100%;
    height:          100%;
    position:        absolute;
    top:             0;
    left:            0;
    object-fit:      cover;
    object-position: 100% center;
    z-index:         -1;
  }
}

.body {
  width:         max(200px, 30vw);
  height:        max(200px, 30vw);
  position:      relative;
  border-radius: 10px;
  overflow:      hidden;

  &:hover {
    .content {
      height: 100px;

      @media screen and (min-width: 800px) {
        height: 110px;
      }
    }
  }
}

.content {
  transition-duration: 500ms;
  width:               100%;
  height:              65px;
  padding:             10px;
  bottom:              0;
  left:                0;
  position:            absolute;
  overflow:            hidden;

  @media screen and (min-width: 800px) {
    height: 80px;
  }
}

.mini-card__container {
  display:         flex;
  flex-direction:  row;
  grid-column-gap: 10px;
  grid-row-gap:    20px;

  @media screen and (min-width: 800px) {
    margin-top: 10px;
  }

  .mini-card__item {
    padding: 1px 10px;
    background: #9a06d5;
    color: var(--background-ddark);
    border-radius: 1000px;
    font-size: 10px;
    font-weight: 600;
  }
}
