<main class="top-bar">
    <div class="content">
        <!-- Top Bar -->
        <div class="logo" (click)="go_link('')">
            Alkocode
        </div>
        <ul class="links">
            <li (click)="go_link('contests')" content="Competitions">Competitions</li>
            <li (click)="go_link('sandbox')" content="Sandbox">Sandbox</li>
            <li (click)="go_link('wiki')" content="Wiki">Wiki</li>
            <li (click)="go_link('about')" content="About">About</li>
            <li (click)="go_link('contact')" content="Contact Us">Contact Us</li>
        </ul>
        <div class="login" (click)="go_link('login')">
            <span>Login</span>
        </div>
        <!-- Mobile -->
        <div (click)="interact_menu()" class="mobile-menu-button">
            <svg viewBox="0 0 100 100">
                <rect class="menu-svg-rect" x="0" y="15" width="100" height="10"/>
                <rect class="menu-svg-rect" x="0" y="45" width="100" height="10"/>
                <rect class="menu-svg-rect" x="0" y="75" width="100" height="10"/>
            </svg>
        </div>
        <!-- Decorations -->
        <div class="circle-element"></div>
        <div class="circle-element"></div>
        <div class="circle-element"></div>
        <div class="circle-element"></div>
    </div>
</main>

<div id="dropdown-menu" class="menu-content">
    <ul class="dropdown-links">
        <li (click)="go_link('');">Home</li>
        <li (click)="go_link('contests');">Competitions</li>
        <li (click)="go_link('sandbox');">Sandbox</li>
        <li (click)="go_link('wiki');">Wiki</li>
        <li (click)="go_link('about');">About</li>
        <li (click)="go_link('contact');">Contact Us</li>
    </ul>
</div>

