.top-bar {
  position: relative;
  width: 100vw;
  height: var(--top-bar-height);
  background-color: var(--background-ddark);
  box-shadow: 0px -3px 10px 2px var(--text-white);
  //border-bottom: 1px solid white;
  display: flex;
  justify-content: center;
  overflow: hidden;
  z-index: 100;
}

.logo {
  cursor: pointer;
  width: fit-content;
  font-weight: 700;
  font-size: 2em;
  font-family: var(--f-rubik);
  padding: 0 .5em 4px;
  &::before {
    position: absolute;
    content: "Only";
    color: var(--color-accent-second);
  }
}

.links {
  display: flex;
  grid-column-gap: 0.8em;
  color: var(--text-white);
  text-decoration: none;
  font-size: 1.4em;
  font-family: "Rubik", sans-serif;
  letter-spacing: 1px;
  padding-right: calc(25% - 200px);

  li {
    position: relative;
  }

  li::before {
    position: absolute;
    content: attr(content);
    width: 0;
    inset: 0;
    color: var(--color-accent);
    overflow: hidden;
    transition: 0.3s ease-out;
  }

  li::after {
    position: absolute;
    content: "";
    width: 0;
    left: 0;
    bottom: -5px;
    background: var(--color-accent);
    height: 1px;
    transition: 0.3s ease-out;
  }

  li:hover {
    cursor: pointer;

    &::before {
      width: 100%;
    }

    &::after {
      width: 100%;
    }
  }
}

.dropdown-links {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--text-white);
  text-decoration: none;
  font-size: 1.4em;
  font-family: "Rubik", sans-serif;
  grid-row-gap: 1.5vh;

  li:active {
    color: var(--color-primary);
    cursor: pointer;
  }
}

.content {
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}


.login {
  --btn-transition: .3s;
  --btn-animation-duration: 1.2s;
  --btn-letter-spacing: .1rem;
  --btn-default-bg: #020024;
  --btn-hover-bg: #20222A;
  --hover-btn-color: #15ca0c;
  --default-btn-color: #fff;

  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--default-btn-color);
  font-size: 1.4em;
  background: var(--btn-default-bg);
  border: none;
  cursor: pointer;
  transition: var(--btn-transition);

  span {
    letter-spacing: var(--btn-letter-spacing);
    transition: var(--btn-transition);
    box-sizing: border-box;
    position: relative;
    background: inherit;
  }

  span::before {
    box-sizing: border-box;
    position: absolute;
    content: "";
    background: inherit;
  }

  &:hover, &:focus {

    span {
      color: var(--hover-btn-color);
    }
  }
}

.mobile-menu-button {
  display: none;
  padding-right: 30px;

  svg {
    * {
      transform-origin: center;
      transition-duration: .5s;
    }

    width: 40px;
    filter: invert(1);
  }
}

.menu-content {
  position: absolute;
  display: none;
  width: 100vw;
  height: fit-content;
  padding: 40px 30px;
  background-color: var(--background-ddark);
  //box-shadow: 0px -3px 10px 2px var(--text-white);
  border-bottom: 1px solid #000210;
  transition-duration: .5s;
  transform: translateY(-100%);
  z-index: 90;
}

@media screen and (max-width: 900px) {
  .top-bar {
    box-shadow: none;
    border-bottom: 1px solid #000210FF;
  }
  .links, .login, :nth-child(1 of .circle-element), :nth-child(2 of .circle-element), :nth-child(4 of .circle-element) {
    display: none !important;
  }
  .mobile-menu-button {
    display: block !important;
  }
}

@keyframes dropdown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes closeup {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
